# vscode
.vscode/*
*.coverage
*.coveragexml

# build
build/*

# MacOS
.DS_Store
*/.DS_Store

# jetbrains
.idea/*

# python c
*.pyc

# python cache
__pychche__/

# app migrations

app/article/migrations/
app/blog/migrations/
app/management/migrations/
app/user/migrations/
app/disk/migrations/

