{% load static %}

<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
      content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
<link rel="stylesheet" href="{% static 'assets/X-admin/css/font.css' %}">
<link rel="stylesheet" href="{% static 'assets/X-admin/css/xadmin.css' %}">
<script src="{% static 'assets/X-admin/lib/layui/layui.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'assets/X-admin/js/xadmin.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.0/jquery.js"></script>
