<!--
 * @Author: Nestcc
 * @Date: 2020-08-10 10:40:04
 * @LastEditors: Nestcc
 * @LastEditTime: 2021-03-22 16:58:54
 * @Description:  < file content > 
-->
{% extends "disk/base.html" %} {% block content %} {% for each in content %}
    <div class="file-content">
        <a href="/disk/delete/{{ each.id }}/" style="color:#FFF;">
            <button style="margin-right: 120px;">Del</button>
        </a>
        <div class="file-name" style="width:20%;">{{ each.name_display }}</div>
        <div class="file-size" style="width:10%;">{{ each.file.size }} B</div>
        <div class="file-date" style="width:5%;">{{ each.total_count }}</div>
        <div class="file-date" style="width:20%;">{{ each.upload_time }}</div>
        <div class="file-link" style="width:30%; padding-right: 80px; text-overflow: ellipsis; overflow: hidden;">
            <span>
              http://{{ host }}/disk/s/{{ each.code }}/
            </span>
        </div>
        <a href="/static/media/{{ each.file.url }}" style="color:#FFF;" DOWNLOAD="{{ each.name_display }}">
            <button>Download</button>
        </a>
    </div>
{% endfor %} {% endblock %}