{% extends 'blog/blog_base.html' %}

{% block content %}
    <div class="content whisper-content leacots-content details-content">
        <div class="cont w1000">
            <div class="whisper-list">
                <div class="item-box">
                    <div class="review-version">
                        <div class="form-box">
                            <div class="article-cont">
                                <div class="title">
                                    <h3>{{ content.title }}</h3>
                                    <p class="cont-info"><span class="data">{{ content.create_time }}</span><span
                                            class="types">{{ content.category }}</span></p>
                                </div>
                                <div>{{ content.content | safe }}</div>
{#                                <div class="btn-box">#}
{#                                    <button class="layui-btn layui-btn-primary">上一篇</button>#}
{#                                    <button class="layui-btn layui-btn-primary">下一篇</button>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="demo" style="text-align: center;"></div>
            </div>
        </div>

{% endblock %}