{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_foot/management_head.html' %}
    <title>创建文章</title>
</head>
<body>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>添加文章表单</legend>
    </fieldset>

    <form class="layui-form" id="create-article-form">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">文章标题</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" name="title" id="title" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">副标题</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" name="subtitle">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">文章内容</label>
            <div class="layui-input-block">
                <textarea id="article_content" name="content"></textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="submit-btn">提交表单</button>
            </div>
        </div>

{#        <input class="layui-hide" id="img_set" name="img_set" type="text">#}
    </form>
</div>
{% include 'head_foot/layui_tab_foot.html' %}
<script src="{% static 'assets/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'assets/ncc_space/js/tinymce_editor.js' %}"></script>
<script src="{% static 'assets/ncc_space/js/create_article.js' %}"></script>
</body>
</html>